@page
@model vs_project.Pages.employeesModel
@{
}
@{var sessionAdmin = HttpContext.Session.GetString("admin");
if(sessionAdmin != "True")
{
     Response.Redirect("/Index");
}}
@if (Model.List != null && Model.List.Count > 0)
{
    <table id="AllPeopleTable" class='table table-bordered table-striped'>
        <tr>
            <th>ID</th>
            <th> User Name</th>
            <td>assignments_due</td>
            <th>last_math</th>
            <th>last_phys</th>

        </tr>

        @foreach (Model.Person person in Model.List)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.username</td>
                <td>@person.assignments_due</td>
                <td>@person.last_math</td>
                <td>@person.last_phys</td>
                
                
            </tr>
        }
    </table>
}