@page
@model vs_project.Pages.employeesModel
@{
}
@{var sessionAdmin = HttpContext.Session.GetString("admin");
if(sessionAdmin != "True")
{
     Response.Redirect("/Index");
}}
@if (Model.List != null && Model.List.Count > 0)
{
    <table id="AllPeopleTable" class='table table-bordered table-striped'>
        <tr>
            <th>ID</th>
            <th> User Name</th>
            <td>name</td>
            <th>Address</th>
            <th>Salary</th>

        </tr>

        @foreach (Model.Person person in Model.List)
        {
            <tr>
                <td>@person.Id</td>
                <td>@person.username</td>
                <td>@person.Pname</td>
                <td>@person.address</td>
                <td>@person.salary</td>
                
                
            </tr>
        }
    </table>
}